.error-body {
    width: 700px; /* Can be in percentage also */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
}

.error-heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    margin-top: 15px;
    color: maroon;
}

.accent {
    font-family: 'Orbitron', sans-serif;
    color: #333;
}

/* start of desktop styles */

@media screen and (max-width: 750px) {
    /* start of large tablet styles */

    .error-body {
        width: 400px; /* Can be in percentage also */
    }
    
}

@media screen and (max-width: 500px) {
    /* start of large tablet styles */

    .error-body {
        width: 300px; /* Can be in percentage also */
        margin-top: 30px;
    }

    .error-heading {
        font-size: 24px;
    }
    
}