.main-nom-page {
    width: 700px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #69acb8;
}

.NomPage {
    width: 600px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
}

.NomPage_heading {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    margin-top: 15px;
}

.page-body {
    width: 300px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: left;
    padding-bottom: 30px;
    background-color: #69acb8;
}

.page-body p {
    color: maroon;
    font-family: 'VT323', monospace;
    font-size: 24px;

}

.page-body p span {
    color: #333;
    font-family: 'Orbitron', sans-serif;

}

.butts {
    color: #b9efe1;
    border: none;
    padding: 10px 25px;
    background-color: maroon;
    font-size: 25px;
    margin: 0 25px;
    cursor: pointer;
    text-align: center;
    font-family: 'VT323', monospace;
}

@media screen and (max-width: 750px) {

    .main-nom-page {
        width: 400px; /* Can be in percentage also */
    }

    .NomPage {
        width: 75%; /* Can be in percentage also. */
    }
}

@media screen and (max-width: 500px) {

    .main-nom-page {
        width: 300px; /* Can be in percentage also */
    }

    .NomPage {
        width: 75%; /* Can be in percentage also. */
    }

    .NomPage_heading {
        font-size: 20px;
        margin-top: 20px;
        padding-top: 20px;
    }
}